<h2> 待辦事項清單 </h2>	

<%= link_to "New event", new_event_path %>

<%= render 'form' %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>order</th>
			<th>id</th>
			<th>title</th>
			<th>content</th>
		</tr>
	</thead>
	<tbody id="sortable">
		<% @events.each do |event| %>
			<tr class="event" data-id="<%=event.id%>">
				<td><%= event.event_order %></td>
				<td><%= event.id %></td>
				<td><%= link_to event.title, event %></td>
				<td><%= truncate(event.content) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<button class="btn btn-sm btn-info btn-primary" id="getOrder"> save current orders </button>
<span></span>